/**********************************************************
  CONTENT
 **********************************************************
  1.  General Layout
  2.  Header
  3.  Footer
  4.  Button (Icon only)
  5.  Button (Text)
  6.  Dashboard
  7.  User Management
  8.  User Account
  9.  User Time Spent
  10. User Following
  11. Posts
**********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');


/**********************************************************
  1. General Layout
**********************************************************/

.page-container {
  position: relative;
  min-height: 100vh;
  font-family: 'Mukta', sans-serif;
  background-color: lightgrey;
  color: darkslategrey;
}

.content-wrap {
  padding-top: 5rem;  /* Header height */
  padding-bottom: 2.5rem;  /* Footer height */
}

.content-container {
  padding: 3% 10%;
}

.page-title {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.page-title-right {
  float: right;
  height: 36px;
  line-height: 36px;
}

.page-subtitle {
  margin-top: 10px;
  font-weight: 300;
}

.page-message {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}


/**********************************************************
  2. Header
**********************************************************/

.header-logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0 8px 6px 0;
}

.admin-header {
  height: 5rem;
  background-color: lightgrey;
  box-shadow: 0 1px 20px 1px silver;
  border-bottom: 2px solid silver;
}

.admin-navbar-brand {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 26px !important;
  color: darkslategray !important;
}

.admin-nav-link {
  color: darkslategray !important;
}
.admin-nav-link:hover {
  color: rgba(105, 105, 105, 0.8) !important;
}


/**********************************************************
  3. Footer
**********************************************************/

.footer {
  position: absolute;
  background-color: lightgrey;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: small;
  border-top: 1px solid silver;
}

.footer-content {
  line-height: 2.5rem;
  text-align: center;
  margin: 0;
}


/**********************************************************
  4. Button (Icon only)
**********************************************************/

.icon-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 14px;
  height: 40px;
  width: 40px;
}
.icon-btn:focus {
  outline: none;
  border-radius: 14px;
}
.icon-btn:active {
  border: none;
}

.pf-avatar-opt-btn {
  width: 55px;
  height: 55px;
  margin-right: 6px;
  background-color: lightgrey;
}
.pf-avatar-opt-btn:hover,
.pf-avatar-opt-btn:active {
  box-shadow: 0 0 15px rgba(119, 136, 153, 0.5);
  background-color: lightgrey;
}

.pf-avatar-select {
  border: 3px solid mediumseagreen;
}

.back-btn {
  color: rgb(118, 132, 162);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}
.back-btn:focus {
  border: 1px solid rgba(118, 132, 162, 0.3);
}
.back-btn:hover,
.back-btn:active {
  background-color: rgba(118, 132, 162, 0.1);
}

.po-icon-btn {
  margin-left: 5px;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  color: rgba(47, 79, 79, 0.8);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
.po-icon-btn:focus {
  border-radius: 10px;
  border: 1px solid rgba(119, 136, 153, 0.5);
}
.po-icon-btn:hover,
.po-icon-btn:active {
  background-color: rgba(119, 136, 153, 0.3);
}

.po-icon-btn-long {
  padding-left: 0;
  padding-right: 0;
  float: right;
  width: 45px;
  text-align: center;
  line-height: 30px;
}
.po-icon-btn-long:hover {
  background-color: transparent;
}

.po-like-btn {
  color: seagreen;
}

.po-dislike-btn {
  color: rgb(220, 88, 65);
}


/**********************************************************
  5. Button (Text)
**********************************************************/

.custom-btn {
  color: ghostwhite;
  border-style: none;
  border-radius: 14px;
  height: 40px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}
.custom-btn:hover {
  opacity: 0.8;
}
.custom-btn:focus {
  outline: none;
  border-radius: 14px;
}
.custom-btn:active {
  border: none;
}

.pf-save-btn {
  background-color: mediumseagreen;
  width: 100%;
}
.pf-save-btn:focus {
  border: 1px solid seagreen;
}
.pf-save-btn:active {
  background-color: seagreen;
}

.pf-dlt-btn {
  background-color: rgb(229, 98, 75);
  width: 100%;
}
.pf-dlt-btn:focus {
  border: 1px solid rgb(220, 71, 45);
}
.pf-dlt-btn:active {
  background-color: rgb(220, 71, 45);
}

.view-posts-btn  {
  color: darkslategrey;
  background-color: rgba(119, 136, 153, 0.5);
  width: 180px;
  text-align: center;
  height: 46px;
  line-height: 46px;
}
.view-posts-btn:focus {
  border: 1px solid rgba(119, 136, 153, 0.3);
}
.view-posts-btn:active {
  background-color: rgba(119, 136, 153, 0.3);
}

.po-dlt-btn {
  background-color: rgb(229, 98, 75);
  width: 100px;
  font-size: 14px;
}
.po-dlt-btn:focus {
  border: 1px solid rgb(220, 71, 45);
}
.po-dlt-btn:active {
  background-color: rgb(220, 71, 45);
}


/**********************************************************
  6. Dashboard
**********************************************************/

.dashboard-link {
  color: darkslategrey;
  text-decoration: none;
}
.dashboard-link:hover {
  color: rgba(47, 79, 79, 0.7);
}

.dashboard-tab {
  background-color: rgba(119, 136, 153, 0.5);
  text-align: center;
  height: 300px;
  border-radius: 30px;
  font-size: 20px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}
.dashboard-tab:hover {
  background-color: rgba(119, 136, 153, 0.3);
}

.dashboard-tab-icon {
  font-size: 60px;
  padding-top: 65px;
  line-height: 125px;
}

/**********************************************************
  7. User Management Dashboard
**********************************************************/

.num-user-line-wrap {
  height: 400px;
}

.user-tab {
  color: darkslategrey;
  border-radius: 14px;
  height: 60px;
  background-color: rgba(119, 136, 153, 0.5);
  width: 100%;
  font-size: 14px;
  display: flex;
  padding: 0px 25px;
}

.user-tab-username {
  font-size: 15px;
  line-height: 60px;
}


/**********************************************************
  8. User Account
**********************************************************/

/* remove browser default input autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px lightgrey inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: darkslategrey !important;
}
input {
  filter: none;
}

.user-acc-wrap {
  background-color: rgba(119, 136, 153, 0.3);
  padding: 5%;
  border-radius: 10px;
}

.form-title {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.form-msg {
  border-radius: 12px;
  padding: 6px 12px;
  line-height: 18px;
  font-size: 14px;
  width: 100%;
}

.form-error {
  background-color: rgba(255, 143, 99, 0.1);
  color: crimson;
  border: 1px solid rgb(229, 98, 75);
}

.form-noti {
  background-color: rgba(222, 255, 220, 0.1);
  color: seagreen;
  border: 1px solid mediumseagreen;
}

.input-title {
  width: 150px;
}

.input-body {
  border-style: none;
  border-radius: 14px;
  height: 40px;
  width: 270px;
  text-indent: 10px;
  background-color: lightgrey;
  color: darkslategrey;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  caret-color: darkslategrey;
}
.input-body::placeholder {
  color: darkgrey;
  font-size: small;
}
.input-body:hover {
  box-shadow: 0 0 13px rgba(119, 136, 153, 0.4);
}
.input-body:focus {
  outline: none;
  border: 1px solid lightslategrey;
  border-radius: 14px;
}
.input-body:active {
  border-style: none;
}

.pf-avatar-opt {
  width: 30px;
  height: 30px;
}


/**********************************************************
  9. User Time Spent
**********************************************************/

.time-spent-bar-wrap {
  height: 450px;
}


/**********************************************************
  10. User Following
**********************************************************/

.flw-donut-bar-wrap {
  height: 350px;
}


/**********************************************************
  11. Posts Page
**********************************************************/

.all-po-wrap {
  /* reverse all posts (show latest post first) */
  display: flex;
  flex-direction: column-reverse;
}
.po-wrap {
  background-color: rgba(119, 136, 153, 0.3);
  padding: 3% 5%;
  border-radius: 10px;
}

.po-text {
  font-size: 15px;
}
.po-dlted-text {
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  color: rgba(47, 79, 79, 0.7);
}

.po-image-wrap {
  text-align: center;
}

.po-image {
  width: auto;
  max-height: 350px;
}

.reply-wrap {
  margin-left: 20px;
  padding-left: 4%;
  border-left: 1px solid rgba(119, 136, 153, 0.6);
}

.reply-text {
  font-size: 13px;
}
.reply-dlted-text {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: rgba(47, 79, 79, 0.7);
}

.form-msg-sm {
  display: inline;
  border-radius: 14px;
  font-size: 13px;
  padding: 9px 12px;
  margin: 0px 10px 0px 0px;
}

.po-info-wrap {
  display: flex;
}

.po-avatar-wrap {
  width: 40px;
}

.po-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 5px;
}

.po-name-date-wrap {
  flex: 1;
  margin-left: 8px;
}

.po-name {
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
}

.po-info-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.po-date {
  font-size: 10px;
  line-height: 18px;
  font-weight: 300;
  margin: 0px;
}

.po-btns-wrap {
  width: 135px;
}

.po-icon {
  font-size: 11px;
}

.username-link {
  color: darkslategrey;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
.username-link:hover {
  color: rgba(47, 79, 79, 0.7);
}